.main {
  background-image:  url('/assets//images/Texture.png'), url('/assets//images//Background.png');
  padding: 3rem 10rem;
  min-height: 100vh;
  width: 100%;
}
.productView{
  display: block;
}
.sliderView{
  display: none;
}
.detailsView{
  display: block;
}

.imageZoom:hover{
  transform: scale(1.1);
  transition: 0.5s;
  z-index: 2;
}
.productContainer{
  clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 78% 100%, 0% 100%);
}
.productContainer:hover{
  transition: 1s;
}
.productContainer:hover .imageZoom{
  transform: scale(1.1);
  transition: 0.5s;
}

.productContainer:hover .textHover span{
  color:#fff;
  transition: 0.5s;
}

.main2 {
  min-height: 100vh;
  padding: 5rem 2rem;
}
.main3{
  background-image: url('/assets//images//Left.png');
  padding: 0rem 8rem;
  background-repeat:repeat;
  /* background-position: center bottom; */
  /* background-size:100% 100%;  */
  animation: move-background 5s linear infinite;
}
.detailsMobileView{
  display: none;
}

@keyframes move-background {
  from {
    background-position:center bottom;
  }
  to {
    background-position:center top;
  }
}

@media (min-width:300px) and (max-width:480px) {
  .productView{
    display: none;
  }
  .main {
    min-height: 60vh;
    padding: 3rem 1rem;
  }
  .sliderView{
    display: block;
  }
  .detailsView{
    display: none;
  }
  .main2 {
    min-height: 100vh;
    padding: 3rem 1rem;
  }
  .detailsMobileView{
    display: block;
  }
}











/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}



